body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: blue;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#updatedDate {
    font-style: italic;
}

/* for the csv */
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  